.light .resultados{
    background-color: #E7E7E7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 55px 28px;
    width: 100%;
  }
  .dark .resultados{
    background-color: #212121;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 55px 28px;
    width: 100%;
  }
  .light .resultados h3{
    color: gray;
  }
  .dark .resultados h3{
    color: gray;
  }