header {
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 68px;
}
.light .btn-dark {
    text-transform: uppercase;
    font-weight: 700;
    color: #6809e1;
    font-size: 14px;
    background-color: transparent;
    padding: 14px;
    border: 1px solid #6809e1;
    border-radius: 61px;
    width: 148px;
    height: 43px;
}
.dark .btn-dark {
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 14px;
    background-color: transparent;
    padding: 14px;
    border: 1px solid #FFFFFF;
    border-radius: 61px;
    width: 148px;
    height: 43px;
}